<header>
    <nav class="container flex justify-between items-center text-color-black bg-white">
        <div class="flex justify-between w-30 py-5 font-bold text-2xl">
            <img src="assets/profile.png" width="30" height="30">
            <a href="">
                <span class="text-color-black">Goal</span>score.
            </a>
        </div>
        <div>
            <ul class="hidden lg:flex items-center space-x-6 text-color-grey font-bold">
                <li><a href="#" class="hover:text-color-blue ease-in duration-200">Live Scores</a></li>
                <li><a href="#" class="hover:text-color-blue ease-in duration-200">All Match</a></li>
                <li><a href="#" class="hover:text-color-blue ease-in duration-200">Video</a></li>
                <li><a href="#" class="hover:text-color-blue ease-in duration-200">News</a></li>
                <li><a href="#" class="hover:text-color-blue ease-in duration-200">Stats</a></li>
                <li><a href="#" class="hover:text-color-blue ease-in duration-200">Rankings</a></li>
            </ul>
        </div>
        <div>
            <img src="assets/profile.png" width="30" height="30">
        </div>
<!--Mobile Screen-->
<div id="hamburger" class="lg:hidden cursor-pointer z-50">
    <i class="fa-solid fa-bars"></i>
</div>

<div id="menu" class=" hidden bg-color-primary h-[70vh] absolute inset-0">
    <ul class="h-full grid place-items-center py-20">
                <li><a id="hLink" href="#" class="hover:text-color-blue ease-in duration-200">Live Scores</a></li>
                <li><a id="hLink" href="#" class="hover:text-color-blue ease-in duration-200">All Match</a></li>
                <li><a id="hLink" href="#" class="hover:text-color-blue ease-in duration-200">video</a></li>
                <li><a id="hLink" href="#" class="hover:text-color-blue ease-in duration-200">News</a></li>
                <li><a id="hLink" href="#" class="hover:text-color-blue ease-in duration-200">Stats</a></li>
                <li><a id="hLink" href="#" class="hover:text-color-blue ease-in duration-200">Rankings</a></li>
    </ul>
</div>
    </nav>
</header>
