<section class="container flex justify-between mt-10">
  <!-- LEFT SECTION -->
  <section
    id="left-section"
    class="w-[320px] text-color-black justify-center items-center text-center"
  >
    <div
      id="live_match"
      class="flex justify-between items-center text-center p-5 bg-color-white rounded-md"
    >
      <h6 class="text-xs font-bold">QATAR WORLD CUP 2022</h6>
      <h3 class="bg-red-200 text-color-red text-xs px-2 py-1 font-bold mr-0">
        .Live
      </h3>
    </div>

    <div id="team" class="flex justify-between items-center text-center p-5 bg-color-white">
      <div class="england">
      <img class="rounded-full mx-auto" src="assets/england.jpg" width="50" height="50" alt=""/>
      <p class="mt-2 text-gray-700 text-md text-center">England</p>
    </div>

      <h6 class="font-bold text-base align-middle justify-center">2 : 0</h6>

      <div class="argentina">
      <img class="rounded-full mx-auto" src="/assets/Flag-Argentina.webp" width="50" height="50" alt=""/>
      <p class="mt-2 text-gray-700 text-md text-center">Argentina</p>
    </div>
  </div>

    <div class="view flex bg-white flex justify-between items-center text-center p-5">
      <i class="bx bx-star p-2 bg-slate-100 px-5 py-3 rounded-md"></i>
      <p class="bg-color-blue text-color-white px-5 py-3 rounded-md">View Details</p>
      <i class="bx bx-desktop p-2  bg-slate-100 px-5 py-3 rounded-md"></i>
    </div>

    <div id="clubs" class="text-left items-center mt-4 p-4 bg-color-white">
      Football Leagues

      <hr />
      <div class="flex items-center p-5 bg-color-white">
        <img
          class="rounded-full border-2 border-color-black mr-2"
          src="assets/premier_league.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Premier League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/laliga.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Laliga</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Serie_a.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Serie A</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Bundesliga.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Bundesliga</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Eredivisie.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Eredivisie</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Champions_league.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Champions League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Europa_League.png"
          width="30"
          height="30"
          alt=""
        />
        <h6>Europa League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Europa-Conference-League-.png"
          width="40"
          height="20"
          alt=""
        />
        <h6>Conference League</h6>
      </div>
    </div>
  </section>

  <!-- MIDDLE SECTION -->
  <section
    id="middle-section"
    class="w-[550px] h-[30px] justify-center items-center"
  >
    <img class="bg-color-blue" src="assets/anyrgb.com.png" alt="" />
  </section>

  <!-- RIGHT SECTION -->
  <section id="right-section" class="w-[320px] text-color-black rounded-md">
    <div class="container bg-color-white">
      <div id="upper-text" class="text-left">
        <h3 class="py-4">Recent News</h3>
      </div>
    </div>

    <div class="image-container bg-color-white px-5 py-3 mt-1">
      <div id="image">
        <img class="rounded-md" src="assets/ball net.jpg" alt="" />
      </div>

      <div class="text-container flex justify-center mt-2 flex space-x-4">
        <div class="text">
          <p class="text-sm">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>

        <i class="bx bx-star bg-slate-500 p-2"></i>
      </div>
      <p class="text-xs mt-2 text-color-grey font-medium">About 2Hours ago</p>

      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>



      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>
    </div>
  </section>
</section>
