<section class="container flex justify-between mt-10">

   <!-- LEFT SECTION -->
    <section id="left-section" class="w-[300px] bg-color-white text-color-black justify-center items-center text-center">
    
      <div id="live_match" class="flex justify-between items-center text-center p-5">
          <h6 class="text-xs font-bold">QATAR WORLD CUP 2022</h6>
          <h3 class="bg-red-200 text-color-red text-xs px-2 py-1 font-bold mr-0">.Live</h3>
      </div>

      <div id="team" class="flex justify-between items-center text-center p-5"> 
        <img class="rounded-full mx-auto" src="assets/england.jpg" width="50" height="50" alt="">
        <p class="mt-2 text-gray-700">England</p>
        <h6 class="font-bold text-base">2 : 0</h6>
        <img class="rounded-full" src="/assets/Flag-Argentina.webp" width="50" height="50" alt="">
        Argentina
      </div>
      <hr>
      <div id="clubs" class="text-center items-center mt-4 p-4">
        Football Leagues
      </div>
      <hr>
      <div class="flex items-center p-5">
        <img class="rounded-full border-2 border-color-black mr-2" src="assets/premier_league.png" width="30" height="30" alt=""> 
        <h6>Premier League</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/laliga.png" width="30" height="30" alt=""> 
        <h6>Laliga</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/Serie_a.png" width="30" height="30" alt=""> 
        <h6>Serie A</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/Bundesliga.png" width="30" height="30" alt=""> 
        <h6>Bundesliga</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/Eredivisie.png" width="30" height="30" alt=""> 
        <h6>Eredivisie</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/Champions_league.png" width="30" height="30" alt=""> 
        <h6>Champions League</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/Europa_League.png" width="30" height="30" alt=""> 
        <h6>Europa League</h6>
      </div>

      <div class="flex items-center p-5">
        <img class="rounded-full mr-2" src="assets/Europa-Conference-League-.png" width="40" height="20" alt=""> 
        <h6>Conference League</h6>
      </div>
    </section>
    
<!-- MIDDLE SECTION -->
    <section id="middle-section" class="w-[550px] h-[30px] justify-center items-center">
        <img class="bg-color-blue" src="assets/anyrgb.com.png" alt="">
    </section>

    
    <!-- RIGHT SECTION -->
    <section id="right-section" class="w-[300px] bg-color-white text-color-black justify-center items-center">
      welcome here
    </section>
  </section>

  
 