<section class="container flex justify-between mt-10">
  <!-- LEFT SECTION -->
  <section id="left-section" class="w-[320px] text-color-black justify-center items-center text-center"
  >
    <div
      id="live_match"
      class="flex justify-between items-center text-center p-5 bg-color-white rounded-md"
    >
      <h6 class="text-xs font-bold">QATAR WORLD CUP 2022</h6>
      <h3 class="bg-red-200 text-color-red text-xs px-2 py-1 font-bold mr-0 rounded-md">
        .Live
      </h3>
    </div>

    <div id="team" class="flex justify-between items-center text-center p-5 bg-color-white">
      <div class="england">
      <img class="rounded-full mx-auto" src="assets/england.jpg" width="50" height="50" alt=""/>
      <p class="mt-2 text-gray-700 text-md text-center">England</p>
    </div>

      <h6 class="font-bold text-base align-middle justify-center">2 : 0</h6>

      <div class="argentina">
      <img class="rounded-full mx-auto" src="/assets/Flag-Argentina.webp" width="50" height="50" alt=""/>
      <p class="mt-2 text-gray-700 text-md text-center">Argentina</p>
    </div>
  </div>

    <div class="view flex bg-white flex justify-between items-center text-center p-5">
      <i class="bx bx-star p-2 bg-slate-100 px-5 py-3 rounded-md"></i>
      <p class="bg-color-blue text-color-white px-5 py-3 rounded-md">View Details</p>
      <i class="bx bx-desktop p-2  bg-slate-100 px-5 py-3 rounded-md"></i>
    </div>

    <div class="container bg-color-white mt-4">
      <div id="upper-text" class="text-left">
        <h3 class="py-4 font-semibold">Football Leagues</h3>
      </div>
    </div>
    <div id="clubs" class="text-left items-center mt-1 p-4 bg-color-white">
      
      <div class="flex items-center p-5 bg-color-white">
        <img
          class="rounded-full border-2 border-color-black mr-2"
          src="assets/premier_league.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Premier League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/laliga.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Laliga</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Serie_a.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Serie A</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Bundesliga.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Bundesliga</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Eredivisie.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Eredivisie</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Champions_league.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Champions League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Europa_League.png"
          width="30"
          height="30"
          alt=""
        />
        <h6 class="font-semibold">Europa League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Europa-Conference-League-.png"
          width="40"
          height="20"
          alt=""
        />
        <h6 class="font-semibold">Conference League</h6>
      </div>

      <div class="flex items-center p-5">
        <img
          class="rounded-full mr-2"
          src="assets/Europa-Conference-League-.png"
          width="40"
          height="20"
          alt=""
        />
        <h6 class="font-semibold">Conference League</h6>
      </div>
    </div>
  </section>

  <!-- MIDDLE SECTION -->
  <section id="middle-section">
    <div class="hero w-[550px] h-[285px] justify-center items-center bg-custom-image rounded-md bg-color-blue">
      <div class="contents text-left bg-color-blue">
        <p class="pl-5 pr-10 pt-14 font-bold">Download and get the App</p>
        <p class="pl-5 pr-40 mr-40 pt-7 text-xs">In business Computer information systems, a is a type sceror football of graphical</p>
        <p class="pl-5 mt-7"><button class="bg-color-white text-color-black text-xs px-5 py-4 rounded-md">Download App</button></p>
      </div>
    </div>
    
    <div class="live_matches bg-color-white rounded-md px-5 mt-8 pt-7">
      <div class="header_info flex bg-slate-100 justify-center text-color-black justify-between py-2 px-4 text-xs rounded-md">
        <p class="text-left font-semibold">La-Liga</p>
        <p class="text-right font-semibold">23/09/2024</p>
      </div>
      <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-6 px-6 rounded-md">
       <p class="bg-red-100 px-3 py-2 rounded-md text-color-red font-semibold text-xs">. Live</p>
       <p class="font-semibold text-xs">Arsenal</p><img src="assets/arsenal.png" width="20" alt=""> 
       <p class="font-semibold">3 : 0 </p>
       <img src="assets/tottenham.png" width="20" alt=""> <p class="font-semibold text-xs">Tottenham</p> 
       <p class="bg-green-500 px-3 py-1 rounded-md text-color-white">63:18</p>
      </div>

      <hr>

      <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-6 px-6 rounded-md">
        <p class="bg-red-100 px-3 py-2 rounded-md text-color-red font-semibold text-xs">. Live</p>
        <p class="font-semibold text-xs justify-center">Leeds United</p><img src="assets/leeds.png" width="20" alt="">
        <p class="font-semibold">3 : 0 </p> 
        <img src="assets/Brentford.png" width="30" alt=""> <p class="font-semibold text-xs justify-items-center">Brentford</p> 
        <p class="bg-green-500 px-3 py-1 rounded-md text-color-white">63:18</p>
       </div>
       <hr>


       <div class="header_info flex bg-slate-100 justify-center text-color-black justify-between py-2 px-4 text-xs rounded-md mt-8">
        <p class="text-left font-semibold">UEFA Europa League</p>
        <p class="text-right font-semibold">23/09/2024</p>
      </div>
      <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-6 px-6 rounded-md">
       <p class="bg-red-100 px-3 py-2 rounded-md text-color-red font-semibold text-xs">. Live</p>
       <p class="font-semibold text-xs">As Roma</p><img src="assets/Roma.png" width="20" alt=""> 
       <p class="font-semibold">6 : 0 </p>
       <img src="assets/westham.png" width="20" alt=""> <p class="font-semibold text-xs">WestHam U</p> 
       <p class="bg-green-500 px-3 py-1 rounded-md text-color-white">63:18</p>
      </div>

      <hr>

      <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-5 px-6 rounded-md">
        <p class="bg-red-100 px-3 py-2 rounded-md text-color-red font-semibold text-xs">. Live</p>
        <p class="font-semibold text-xs justify-center">Fulham FC</p><img src="assets/fulham.png" width="20" alt="">
        <p class="font-semibold">3 : 0 </p> 
        <img src="assets/astob_villa.png" width="20" alt=""> <p class="font-semibold text-xs justify-items-center">Watford</p> 
        <p class="bg-green-500 px-3 py-1 rounded-md text-color-white">63:18</p>
       </div>
       <hr>


       <div class="header_info flex bg-slate-100 justify-center text-color-black justify-between py-2 px-4 pt-3   text-xs rounded-md mt-8">
        <p class="text-left font-semibold">Premier League</p>
        <p class="text-right font-semibold">25/09/2024</p>
      </div>
      <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-4 px-6 rounded-md">
       <p class="bg-slate-200 px-3 py-1 rounded-md text-color-black font-semibold">FT</p>
       <p class="font-semibold text-xs ml-10">Chelsea</p>
       <img src="assets/chelsea.png" width="30" alt=""> 
       <p class="font-semibold">6 : <span class="text-color-grey">0</span> </p>
       <img src="assets/B_Dortmond.png" width="30" alt=""> 
       <p class="font-semibold text-xs mr-16 text-slate-400">B. Dortmond</p> 
       
      </div>

      <hr>

      <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-4 px-6 rounded-md">
        <p class="bg-slate-200 px-3 py-1 rounded-md text-color-black font-semibold">FT</p>
        <p class="font-semibold text-xs ml-10">Man Utd</p>
        <img src="assets/man_utd.png" width="30" alt=""> 
        <p class="font-semibold">4 : <span class="text-color-grey">0</span> </p>
        <img src="assets/norwich.png" width="30" alt=""> 
        <p class="font-semibold text-xs mr-16 text-slate-400">Norwich City</p> 
        
       </div>
       <hr>
       <div class="match_info flex bg-color-white text-color-black justify-center justify-between py-4 px-6 rounded-md">
        <p class="bg-slate-200 px-3 py-1 rounded-md text-color-black font-semibold">FT</p>
        <p class="font-semibold text-xs ml-10">AstonVilla</p>
        <img src="assets/astob_villa.png" width="30" alt=""> 
        <p class="font-semibold">3 : <span class="text-color-grey">1</span> </p>
        <img src="assets/watform.png" width="30" alt=""> 
        <p class="font-semibold text-xs mr-16">Watford</p> 
        
       </div>
       <hr>


    </div>
  </section>

  <!-- RIGHT SECTION -->
  <section id="right-section" class="w-[320px] text-color-black rounded-md">
    <div class="container bg-color-white">
      <div id="upper-text" class="text-left">
        <h3 class="py-4 font-semibold">Recent News</h3>
      </div>
    </div>

    <div class="image-container bg-color-white px-5 py-5 mt-1 rounded-md">
      <div id="image">
        <img class="rounded-md" src="assets/ball net.jpg" alt="" />
      </div>

      <div class="text-container flex justify-center mt-5 flex space-x-4">
        <div class="text">
          <p class="text-sm">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>

        <i class="bx bx-star bg-slate-500 p-2"></i>
      </div>
      <p class="text-xs mt-2 text-color-grey font-medium">About 2Hours ago</p>

      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>


      <div class="news-container pb-5">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>



      <div class="news-container pb-7">
        <div id="image" class="flex mt-5">
          <img class="rounded-md" src="assets/news.jpg" alt="" />
          <p class="text-xs ml-3 pt-1">
            <b>OFFICIAL</b>: Benzema is the UCL Player of this Season 21/22
          </p>
        </div>
        <p class="text-center ml-1 text-xs font-medium text-color-grey" style="margin-top: -30px">
          23 minutes ago
        </p>
      </div>
    </div>
  </section>
</section>
